.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}

.featured-plan {
    margin-top: 10%;
}

.pricing .card {
    border-radius: 15px;
    box-shadow: 5px 10px 18px #a09f9f;

}

ul {
    margin-left: 74px;
    font-size: 12px;
}

.watch, .compatibile, header, .custom-bg1, footer {
    background-color: #410099;
}


.custom-border {
    border-style: solid;
    border-color: #410099;
    border-width: thin;
}

footer a {
    text-decoration: none;
}

.navbar-nav li {
    display: inline-block;
}

